@model IEnumerable<TechStore.DAL.Models.Order>
@{
    ViewBag.Title = "Order history";
}

<div class="container">
@foreach (var order in Model)
{

    <div class="row my-2">
        <div class="col">
            <div class="card card-body">
                <div class="row">
                    <div class="col-md-1">
                        <b>#</b>
                        <p>@order.Id</p>
                    </div>
                    <div class="col-md-2">
                        <b>Date</b>
                        <p>@order.OrderDate</p>
                    </div>
                    <div class="col-md-2">
                        <b>Goods</b>
                        <p><a asp-action="ShowGoods" asp-route-id="@order.Id">Show Goods</a></p>
                    </div>
                    <div class="col-md-3">
                        <b>Location</b>
                        <p>@order.EndPointCity @order.EndPointStreet</p>
                    </div>
                    <div class="col-md-1">
                        <b>Status</b>
                        <p>@order.OrderStatus</p>
                    </div>
                    <div class="col-md-1">
                        <b>Price</b>
                        <p>@order.CommonPrice</p>
                    </div>
                    <div class="col-md-1">
                        <form asp-controller="User" asp-action="CancelOrder" asp-route-id="@order.Id">
                            @if (order.OrderStatus == TechStore.DAL.Classes.OrderStatus.Processing ||
                                 order.OrderStatus == TechStore.DAL.Classes.OrderStatus.Ordered)
                            {
                                <input value="Cancel" class="btn btn-dark" type="submit" />
                            }
                        </form>
                    </div>
                    <div class="col-md-1">
                        <form asp-controller="User" asp-action="DeleteOrder" asp-route-id="@order.Id">
                            @if (order.OrderStatus == TechStore.DAL.Classes.OrderStatus.Ordered)
                            {
                                <input value="Delete" class="btn btn-danger" type="submit" />
                            }
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
</div>

