@model IEnumerable<TechStore.DAL.Models.Good>
@{
    ViewBag.Title = "Good list";
}

<div class="row mt-2 justify-content-between">
   
    <div class="col-6">
        <a class="btn btn-sm btn-dark" asp-controller="User" asp-action="Index" >Back</a>
    </div>
    <div class="col-6 text-right">
        <h3 class="">Goods in order :  @ViewBag.OrderId</h3>
    </div>
</div>
<div class="card cart-goods">
    @foreach (var good in Model)
    {
        <div class="row card-body cart-item">
            <div class="col-md-3 col-3 text-center">
                <a asp-area="" asp-controller="GoodPage" asp-action="ShowGood" asp-route-goodId="@good.Id">
                    <div class="cart-good-img mx-auto align-items-center"><img class="d-block mx-auto my-auto block-product-img" src="~/images/goods/@good.PhotoUrl" /></div>
                </a>
            </div>
            <div class="col col-md-6">
                <p><b>Name : </b><a asp-area="" asp-controller="GoodPage" asp-action="ShowGood" asp-route-goodId="@good.Id">@good.Name</a></p>
                <p><b>Price : </b>@good.Price</p>
            </div>
            <div class="col col-md-3">
                <p><b>Producer : </b>@good.Producer.Name</p>
                <p><b>Type : </b>@good.Category.Name</p>
            </div>
        </div>
    }
</div>
