@model IEnumerable<TechStore.DAL.Models.Producer>
@{
    ViewBag.Title = "Producer list";
}

<div class="row py-3">
    <div class="col">
        <a class="btn btn-sm btn-dark" asp-action="Create">Add new producer</a>
        <a class="btn btn-sm btn-dark" asp-action="Find">Find producer</a>
    </div>
</div>

@foreach (var producer in Model)
{
    <div class="card my-2">
        <div class="row card-body">
            <div class="col col-md-1">
                <p><b>Id : </b>@producer.Id</p>
            </div>
            <div class="col col-md-3">
                <p><b>Name : </b>@producer.Name</p>
                <p><b>Phone : </b>@producer.Phone</p>
            </div>
            <div class="col col-md-4">
                <p><b>Email : </b>@producer.Email</p>
                <p><b>Website : </b>@producer.WebSite</p>
            </div>
            
            <div class="col col-md-2">
                <p><b>Products</b></p>
                <p><a asp-action="ShowGoods" asp-route-id="@producer.Id">Show Products</a></p>
            </div>
            <div class="col col-md-1">
                <form asp-action="Edit" asp-controller="Producer" asp-route-id="@producer.Id" method="get">
                    <button type="submit" class="btn btn-sm btn-dark">
                        Edit
                    </button>
                </form>
            </div>
            <div class="col col-md-1">
                <form asp-action="Delete" asp-controller="Producer" asp-route-id="@producer.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-danger">
                        Delete
                    </button>
                </form>

            </div>
        </div>
    </div>
}


