@model TechStore.DAL.Models.Good
@{
    ViewData["Title"] = Model.Name;
}


<div class="container content">
    <div class="card my-2">
        <div class="row card-body product-page justify-content-center">
            <div class="col-lg-6 image align-content-center">
                <div class="align-content-center magnify">
                    <div class="large"></div>
                    <img class="img-fluid small" id="myimage" src="../images/goods/@Model.PhotoUrl"/>
                </div>
            </div>
            <div class="col-lg-6">
                <h2>@Model.Name</h2>
                <p>
                    <b>Description: </b> @Model.Specification
                </p>
                @if (Model.YearOfManufacture != 0)
                {
                    <p>
                        <b>Year: </b>@Model.YearOfManufacture
                    </p>
                }
                @if (Model.WarrantyTerm != 0)
                {
                    <p>
                        <b>Warranty term (months): </b>@Model.WarrantyTerm
                    </p>
                }
                @if (Model.Type != null)
                {
                    <p>
                        <b>Type:</b> @Model.Type
                    </p>
                }
                @if (Model.Producer != null)
                {
                    <p>
                        <b>Producer: </b>@Model.Producer.Name
                    </p>
                }
                <form asp-action="AddToCart" asp-controller="Cart" asp-route-id="@Model.Id">
                    <div class="price">
                        <p>
                            <b>Price: </b> @Model.Price
                        </p>
                        <button class="btn btn-dark">Add to cart</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6">
            <form asp-action="LeaveReview" asp-controller="GoodPage" asp-route-id="@Model.Id">
                <div class="row product-review text-center">
                    <div class="col-12">
                        <div class="row">
                            <div class="col">
                                <p>Rate product </p>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col">
                                <ul class="rate d-inline">
                                    <li class="star" id="mark-one" onclick="Star(1)"></li>
                                    <li class="star" id="mark-two" onclick="Star(2)"></li>
                                    <li class="star" id="mark-three" onclick="Star(3)"></li>
                                    <li class="star" id="mark-four" onclick="Star(4)"></li>
                                    <li class="star" id="mark-five" onclick="Star(5)"></li>
                                </ul>
                            </div>
                        </div>
                        <input id="mark" class="d-none" value="0" name="mark">
                        <div class="row form-group">
                            <div class="col">
                                <textarea class="form-control" id="FormControlTextarea1" rows="8" name="reviewArea"></textarea>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row text-center">
                    <div class="col">
                        <button class="btn btn-dark">Live a review</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-12 col-lg-6">
            <hr class="black-hr"/>
            <div class="row text-center mb-3">
                <div class="col">
                    <button class="btn btn-outline-dark" data-toggle="collapse" data-target="#reviews" aria-expanded="true">Show reviews</button>
                </div>
            </div>
            <div class="collapse" id="reviews">
                <hr class="black-hr"/>
                @if (Model.Reviews.Count != 0)
                {
                    @foreach (var review in Model.Reviews)
                     {
                         if (review.IsVisibleForAll || review.Customer.Email == User.Identity.Name)
                         {
                             <div class="row">
                                 <div class="col-lg-12">
                                     <form asp-action="EditReview" asp-controller="GoodPage" asp-route-goodId="@Model.Id">
                                         <input name="reviewId" value="@review.Id" style="display: none;"/>
                                         <div class="card">
                                             <div class="row card-body">
                                                 <div class="col-3">
                                                     <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class=" img-fluid"/>
                                                     <p class="text-secondary text-center m-0"> @review.Date.ToShortDateString()</p>
                                                     <p class="text-secondary text-center m-0"> @review.Date.ToShortTimeString()</p>
                                                 </div>
                                                 <div class="col-9">
                                                     <b> @string.Join(" ", review.Customer.FirstName, review.Customer.SecondName)</b>
                                                     @if (review.StarCount != 0)
                                                     {

                                                         <div class="row justify-content-center">
                                                             <div class="col">
                                                                 <ul class="rate d-inline">
                                                                     @for (int i = 0; i < @review.StarCount; i++)
                                                                     {
                                                                         <li class="review-star review-star-in-color"></li>
                                                                     }
                                                                     @if (@review.StarCount != 5)
                                                                     {
                                                                         for (int i = @review.StarCount; i < 5; i++)
                                                                         {
                                                                             <li class="review-star"></li>
                                                                         }
                                                                     }
                                                                 </ul>
                                                             </div>
                                                         </div>
                                                     }
                                                     else
                                                     {
                                                         <p>Mark : None</p>
                                                     }


                                                     <div class="row">
                                                         <div class="col">
                                                             <p class="card-text" id=@string.Join("", "reviewMessage", @review.Id.ToString())>@review.Message</p>
                                                             <textarea type="text" name="newMessage" id=@string.Join("", "hiddenInput", @review.Id.ToString()) style="display: none;">@review.Message</textarea>
                                                         </div>
                                                     </div>
                                                 </div>
                                                 @if (User.Identity.Name == review.Customer.Email || User.IsInRole("admin"))
                                                 {
                                                     <div class="col-lg-4">
                                                         <a class="btn btn-primary " style="color: white;" id=@string.Join("", "editButton", @review.Id.ToString()) onclick="Edit(@review.Id)">Edit</a>
                                                         <input class="btn btn-warning" type="submit" style="display: none; color: white;" id=@string.Join("", "saveButton", @review.Id.ToString())
                                                                value="Save">
                                                         <a class="btn btn-danger " asp-action="DeleteReview"
                                                            asp-controller="GoodPage" asp-route-id="@review.Id">Delete</a>
                                                     </div>
                                                 }
                                             </div>
                                         </div>
                                     </form>
                                 </div>
                             </div>
                             <hr class="black-hr"/>
                         }
                     }
                }
                else
                {
                    <p>
                        No reviews for now , become first !
                    </p>
                }
            </div>
        </div>
    </div>
</div>
