@model IEnumerable<TechStore.DAL.Models.Order>
@{
    ViewBag.Title = "Manager panel";
}

<a class="btn btn-sm btn-dark my-2" asp-action="Find">Find order</a>

@foreach (var order in Model)
{

    <div class="row my-2">
        <div class="col">
            <div class="card card-body">
                <div class="row">
                    <div class="col-md-1">
                        <b>#</b>
                        <p>@order.Id</p>
                    </div>
                    <div class="col-md-2">
                        <b>Date</b>
                        <p>@order.OrderDate</p>
                    </div>
                    <div class="col-md-2">
                        <p><a asp-action="ShowCustomer" asp-route-id="@order.Id">Customer</a></p>
                        <p><a asp-action="ShowGoods" asp-route-id="@order.Id">Show Goods</a></p>
                    </div>
                    <div class="col-md-3">
                        <b>Location</b>
                        <p>@order.EndPointCity @order.EndPointStreet</p>
                    </div>
                    <div class="col-md-1">
                        <b>Status</b>
                        <p>@order.OrderStatus</p>
                    </div>
                    <div class="col-md-1">
                        <b>Price</b>
                        <p>@order.CommonPrice</p>
                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-sm btn-dark" asp-action="Edit" asp-route-id="@order.Id">Edit</a>
                        <a class="btn btn-sm btn-light" asp-action="ChangeStatus" asp-route-id="@order.Id">Change status</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
