@model TechStore.ViewModels.ConfirmOrderView
@{
    ViewBag.Title = "Choose endpoint";
}


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCFlwlczCmamaKRfISTv2XvFJNttALOfnI&callback=initMap"
        async defer></script>

<div style="margin-top: 5%;">
    <form asp-action="ConfirmOrder">
        <div class="row">
            <div class="form-group col-lg-4">
                <label asp-for="EndPointCity">City</label>
                <select class="form-control" id="EndPointCity" name="EndPointCity">
                    @foreach (var city in Model.Country.Cities)
                    {
                        <option>@city</option>
                    }
                </select>
            </div>
            <div class="form-group col-lg-4">
                <label asp-for="EndPointStreet">Street</label>
                <input id="EndPointStreet" asp-for="EndPointStreet" class="form-control" type="text"/>
            </div>
            
            <div class="form-group col-lg-4 d-flex align-items-end">

                    <button type="button" value="Search" class="btn btn-dark"
                            onclick="setMarker(@Model.CommonPrice)">
                        Search
                    </button>
                </div>
            </div>
       
       
        
        <div class="row" style="margin-bottom: 2%;">
            <h3 class="col-lg-3">Goods price : <span id="goodPrice">@Model.CommonPrice</span></h3>
            <h3 class="col-lg-3">Delivery price : <span id="deliveryPrice">-</span></h3>
            <h3 class="col-lg-4">Common price :
                <input style="width: 30%;" class="transparent-input" id="commonPrice"
                       value="@Model.CommonPrice" name="commonPrice"></h3>
        </div>
        <div class="row">
            <div id="map" class="col-lg-12" ; style="height: 400px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);"></div>
        </div>
        <div class="form-group" style="display: none;">
            <select class="form-control" id="avaliableStorages">
                @foreach (var storage in Model.Storages)
                {
                    <option>@storage.City</option>
                }
            </select>
        </div>
        <div class="row my-1">
            <div class="col text-center">
                <button type="submit"  class="btn btn-dark" value="Confirm">Confirm</button>
            </div>
        </div>
    </form>
</div>

<h3 class="text-center">Products in order</h3>
<div class="card cart-goods">
    @foreach (var good in Model.Goods)
    {
        <div class="row card-body cart-item">
            <div class="col-lg-3 col-3 text-center">
                <a asp-area="" asp-controller="GoodPage" asp-action="ShowGood" asp-route-goodId="@good.Good.Id">
                    <div class="cart-good-img mx-auto align-items-center"><img class="d-block mx-auto my-auto block-product-img" src="../images/goods/@good.Good.PhotoUrl" /></div>
                </a>
            </div>
            <div class="col">
                <p><b>Name : </b><a asp-area="" asp-controller="GoodPage" asp-action="ShowGood" asp-route-goodId="@good.Good.Id">@good.Good.Name</a></p>
                <p><b>Price : </b>@good.Good.Price</p>
                <p><b>Count : </b>good.Count</p>
            </div>
        </div>
        <hr class="black-hr" />
    }
</div>