@model IEnumerable<TechStore.DAL.Models.GoodReview>
@{
    ViewBag.Title = "Review list";
}

@foreach (var review in Model)
{
    <div class="card my-2">
        <div class="row card-body">
            <div class="col col-md-1">
                <p><b>Id : </b>@review.Id</p>
            </div>
            <div class="col col-md-4">
                <p><b>User Name : </b>@string.Join(" ", review.Customer.FirstName, review.Customer.SecondName)</p>
                <p><b>Good Name : </b><a asp-action="ShowGood" asp-controller="GoodPage" asp-route-goodId="@review.Good.Id">@review.Good.Name</a></p>
            </div>
            <div class="col col-md-5">
                <p><b>Date : </b>@review.Date</p>
                <p><b>Mark : </b>@review.StarCount</p>
                <p><b>Message : </b>@review.Message</p>
            </div>


            <div class="col col-md-1">
                <form asp-action="Confirm" asp-route-id="@review.Id" method="post">
                    <input type="submit" class="btn btn-sm btn-dark" value="Confirm">
                </form>
            </div>
            <div class="col col-md-1">
                <form asp-action="Delete" asp-route-id="@review.Id" method="post">
                    <input type="submit" class="btn btn-sm btn-danger" value="Delete">
                </form>
            </div>
        </div>
    </div>
}


