@model TechStore.ViewModels.IndexViewModel
@addTagHelper "*, Store"
@{
    ViewData["Title"] = "Home Page";
}


<div class="container content">
    <div class="row justify-content-md-center mt-2">
        <div class="col-lg-2">
            <div class="card ">
                <div class="list-group" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Home" asp-action="TypeSearch" asp-route-goodType="All">ALL</a>

                    @foreach (var type in Model.FilterModel.Types)
                    {
                        @if (type == "All")
                         {
                             continue;
                         }

                        <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Home" asp-action="TypeSearch" asp-route-goodType="@type">@type</a>
                    }
                </div>
            </div>
        </div>
        <div class="col">

            <div class="row">
                <div class="col pb-3">
                    <button class="btn btn-outline-dark w-100" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                       More Filters
                    </button>
                    <div class="collapse" id="collapseExample">
                        <form asp-action="Filter" asp-controller="Home">
                            <div class="row">
                                <div class="form-group col-lg-4">
                                    <label asp-for="FilterModel.GoodView.Name" class="control-label">Good name</label>
                                    <input type="text" asp-for="FilterModel.GoodView.Name" class="form-control" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label asp-for="FilterModel.GoodView.ProducerName" class="control-label">Producer name</label>
                                    <input type="text" asp-for="FilterModel.GoodView.ProducerName" class="form-control" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label asp-for="FilterModel.Types">Type</label>
                                    <select class="form-control" name="typeSelect">
                                        @foreach (var type in Model.FilterModel.Types)
                                        {
                                            @if (type == Model.FilterModel.ChoosenType)
                                             {
                                                 <option selected>@type</option>
                                             }
                                             else
                                             {
                                                 <option>@type</option>
                                             }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-4">
                                    <label asp-for="FilterModel.GoodView.YearOfManufacture" class="control-label">Year of manufacture</label>
                                    <input type="number" asp-for="FilterModel.GoodView.YearOfManufacture" class="form-control" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label asp-for="FilterModel.GoodView.StartPrice" class="control-label">Price</label>
                                    <input type="number" asp-for="FilterModel.GoodView.StartPrice" placeholder="From" class="form-control" />
                                    <input type="number" asp-for="FilterModel.GoodView.EndPrice" placeholder="To" class="form-control" style="margin-top: 1%;" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label asp-for="FilterModel.GoodView.WarrantyTerm" class="control-label">WarrantyTerm</label>
                                    <input type="number" asp-for="FilterModel.GoodView.WarrantyTerm" class="form-control" />
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="form-group col-4 col-lg-3 ">
                                    <button type="submit" value="Filter" class="btn btn-dark w-100">Filter</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
                <div class="col-lg-3 ml-auto products">
                    <form method="post" asp-action="Sort" asp-controller="Home">
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <select class="form-control" name="sortSelect">
                                    @foreach (var option in Model.FilterModel.AllSort)
                                    {
                                        @if (option.Key == Model.FilterModel.SortBy.ToString())
                                         {
                                             <option value="@option.Key" selected>@option.Value</option>
                                         }
                                         else
                                         {
                                             <option value="@option.Key">@option.Value</option>
                                         }
                                    }
                                </select>
                                <div class="input-group-append">
                                    <button class="btn btn-dark" type="submit">Sort</button>
                                </div>
                            </div>
                        </div>
                    </form>
           
                </div>
            </div>
            <div class="row">
                <div class="row">
                    @foreach (var good in Model.FilterModel.Goods)
                    {
                        <div class="col-md-4 px-4 py-2">
                             <a asp-area="" asp-controller="GoodPage" asp-action="ShowGood" asp-route-goodId="@good.Id" class="product-link">
                            
                                <div class="card product-card p-1">
                                    <div class=" product-card-img mx-auto align-items-center"><img class="block-product-img d-block mx-auto my-auto" src="../images/goods/@good.PhotoUrl" /></div>
                                    <div class="card-header">
                                        <p class="product-title">
                                            @good.Name
                                        </p>
                                        <p class="product-desc">@good.Specification</p>
                                        <p class="product-price text-center">Price: @good.Price</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
        
        
    </div>
</div>
<div class="row text-right">
    <div class="col">
        <page-link page-model="Model.PageViewModel" page-action="Index" style="float: right;"></page-link>
    </div>
</div>
