@model IEnumerable<TechStore.DAL.Models.Customer>
@{
    ViewBag.Title = "Find result";
}


<div class="input-group row mt-2">
    <div class=" col">
        <h2 class="">Founded @Model.Count() records : </h2>
    </div>
    <div class="col ml-auto">

        <button class="btn btn-sm btn-primary" asp-action="Index" >Back to Customers</button>
    </div>
</div>

<table class="table table-responsive-md table-hover">
    <thead class="thead-dark">
    <tr>
        <th>First Name</th>
        <th>Second Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Orders</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var customer in Model)
    {
        <tr>
            <td>@customer.FirstName</td>
            <td>@customer.SecondName</td>
            <td>@customer.Phone</td>
            <td>@customer.Email</td>
            <td><a asp-action="ShowOrders" asp-route-id="@customer.Id">Orders</a></td>
            <td>
                <form asp-action="Edit" asp-route-id="@customer.Id" method="get">
                    <button type="submit" class="btn btn-sm btn-primary">
                        Edit
                    </button>
                </form>
            </td>
            <td>
                <form asp-action="Delete" asp-route-id="@customer.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-danger">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>