@model IEnumerable<TechStore.DAL.Models.Customer>
@{
    ViewBag.Title = "Customers list";
}
<div class="row py-3">
    <div class="col">
        <a class="btn btn-sm btn-dark" asp-action="Create">Add new customer</a>
        <a class="btn btn-sm btn-dark" asp-action="Find">Find customer</a>
    </div>
</div>

@foreach (var customer in Model)
{
    <div class="card my-2">
        <div class="row card-body">
            <div class="col col-md-1">
                <p><b>Id : </b>@customer.Id</p>
            </div>
            <div class="col col-md-4">
                <p><b>First Name : </b>@customer.FirstName</p>
                <p><b>Last Name : </b>@customer.SecondName</p>
            </div>
            <div class="col col-md-5">
                <p><b>Phone : </b>@customer.Phone</p>
                <p><b>Email : </b>@customer.Email</p>
            </div>
            <div class="col col-md-1">
                <form asp-action="Edit" asp-controller="Customer" asp-route-id="@customer.Id" method="get">
                    <button type="submit" class="btn btn-sm btn-dark">
                        Edit
                    </button>
                </form>
            </div>
            <div class="col col-md-1">
                <form asp-action="Delete" asp-controller="Customer" asp-route-id="@customer.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-danger">
                        Delete
                    </button>
                </form>

            </div>
        </div>
    </div>
}
